body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  position: absolute;
  margin-top: 3rem;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  background-color: blanchedalmond;
  border-radius: 20px;

}
.progress{
  width: 20vw;
  height: 5vh;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.progress_bar{
  position: absolute;
  width: 5vw;
  transition: width 1s ease-out;
  height: inherit;
  text-align: center;
  /* background-color: aquamarine; */

}
.product{
  border: 2px solid gray;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  padding: 3px;
}

.button-page{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  cursor: pointer;
  justify-content: space-between;
}
.text{
  text-decoration: underline;
}
.search{
  display: flex;
  flex-direction: column;
  
  
}
.products {
  border: 2px solid white;
  border-radius: 20px;
  margin: 2px;
  text-align: center;
}
.input_div{
  position: relative;
 
  
}
.dropdown{
  position: absolute;
  cursor: pointer;
   border: 1px solid gray;
}